version: "3.9"

services:
  web:
    build: .
    container_name: rivoq_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    env_file:
      - .env
    expose:
      - "8000"
    depends_on:
      - redis


  celery:
    build: .
    container_name: rivoq_celery
    command: celery -A config worker -l info
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - web

  redis:
    image: redis:7-alpine
    container_name: rivoq_redis
    ports:
      - "6379:6379"

  nginx:
    image: nginx:latest
    container_name: rivoq_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/staticfiles:ro
    depends_on:
      - web

volumes:
  static_volume:
